apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml

images:
- name: app
  newName: public.ecr.aws/l2a4m1h7/repo-aws
  newTag: daf60565abc3a13ef6bb18c43ce3901bfcc617be
